
body {
    background-color:#000;
    font-family:arial;
}

* {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.slides {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align:center;
}
.slide {
    display: none;
}

.slide .headline,
.slide .caption {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    width:300px;
    color:#fff;
}

.slide .headline {
    top: 20px;
}

.slide .caption {
    bottom: 50px;
}


.slide.slide--active {
    display: block;
}
.slide img {
    max-width:100%;
    height:630px;
}

.toggle {
    background: blue none repeat scroll 0 0;
    color: white;
    display: block;
    padding: 15px;
    position: absolute;
    cursor:pointer;
    bottom: initial !important;
    top: 43%;
    z-index: 9999;
}
.toggle--prev {
    left: 10px;
    background: #000 url(../images/nav.png) no-repeat 10px 50%;
    width: 28px;
    height: 100%;
    position:absolute;
    top:0;
}
.toggle--next {
    right: 10px;
    background: #000 url(../images/nav.png) no-repeat -30px 50%;
    width: 28px;
    height: 100%;
    position:absolute;
    top:0;
}
.pagination {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 370px;
    color: #fff;
    bottom:20px;
}
.pager {
    background-color: red;
    display: inline-block;
    height: 20px;
    margin: 10px;
    overflow: hidden;
    text-indent: -9000px;
    white-space: nowrap;
    width: 20px;
    cursor:pointer;
}
